html, body {
height: 100%;
}

.bkgrd {
    margin:2.5% auto;
    background-color: lightsalmon;
    width: 960px;
    height: 100%;
  }
  
.bkgrdwrapper {
    position: relative;
  }

button {
    margin: auto;
    display: block;
    width: 100px;
    height: 30px;
    justify-content: center;
    cursor: pointer;
    background: lightgrey;
    color: white;
    font-size: 20px;
  }
  
.answer-button {
  margin-top: 10px;
  display: block;
  width: 300px;
  height: 30px;
  justify-content: center;
  cursor: pointer;
  border: 3px;
  font-size: 20px;
  }

img {
  height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 80px;
    color: darkred;
    font-weight: bolder;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;

  }
  
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }

#start {
    margin-top: 500px;
    text-align: center;
  }
  
button:hover {
    border:2px solid black;
    background:darkred;
  }

footer {
    float: left;
    margin-top: 200px;
    padding-left: 30px;
}